<html xmlns="http://thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../static/css/popul.css" th:href="@{/css/popul.css}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" th:scr="@{/js/main.js}" scr="../static/js/main.js"></script>
</head>
<body>
<div class="alert alert-info" role="alert">
    <center><h3>---ARTIST---
    </h3></center>
</div>
<form method="post" action="MainMenu">
    <input type="submit" class="btn btn-primary"value='Exit in Menu'>
</form>
<div class='btn btn-primary open_popup' role="alert" data-value="6" style="left: 50%">
    <p>Insert new RECORDS</p>
</div>
<div class="bg-wrapper"></div>
<div class="container">
    <div class="card">
        <div class="card-block">
            <table class=" table table-hover">
                <thead>
                <tr>
                    <th>Artist_ID</th>
                    <th>Name Artist</th>
                    <th>Number of Albums</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${artistList}">
                    <td th:text="${item.Artist_ID}"></td>
                    <td th:text="${item.Name}"></td>
                    <td th:text="${item.Number_of_albums}"></td>
                    <td><p th:artist-ID="${item.Artist_ID}" class='btn btn-primary open_popup' data-value='4'>Edit</p></td>
                    <td><p th:artist-ID="${item.Artist_ID}" class='btn btn-primary open_popup' data-value="5">Delete</p></td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Обновление-->
<div class="popup-block popup_4">
    <div class="popup-container">
        <span class="close-popup">x</span>
        <h4 style="text-align: center;">Обновление данных:</h4>
        <form method="post" action="updateArtist">
            <input type="hidden" name="hiden_Artist" value="" class="hiden-Artist"/>
            <p>Имя артиста:<br><input type="text" pattern="^[a-zA-Z\s]+$" required name="name"  class="name"/></p>
            <p>Число альбомов:<input type="number" required name="Number_of_albums" class="Number-of-albums"/></p>
            <input type="submit" value="Update" class="okno-button"
                   style="margin: 0 50px; width: 90px;">
        </form>
    </div>
</div>
<!--Delete-->
<div class="popup-block popup_5">
    <div class="popup-container">
        <span class="close-popup">x</span>
        <h4 style="text-align: center;">Подтвертиде удаление записи!!!</h4>
        <form method="post" action="deleteArtist">
            <input type="hidden" name="hiden_Artist" value="" class="hiden-Artist"/>
            <input type="submit"  value="Delete" required class="okno-button"
                   style="margin: 0 100px; width: 80px;">
        </form>
    </div>
</div>
<!--Add data-->
<div class="popup-block popup_6">
    <div class="popup-container">
        <span class="close-popup">x</span>
        <h4 style="text-align: center;">Добавление новых данных:</h4>
        <form method="post" action="insertArtist">
            <p>Имя артиста:<br><input type="text" pattern="^[a-zA-Z\s]+$" required name="name" class="name"/></p>
            <p>Число альбомов:<input type="number" required name="Number_of_albums" class="Number-of-albums"/></p>
            <input type="submit" value="Insert" class="okno-button1">
        </form>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>